* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.heading {
    margin-bottom: 5rem;
    font-weight: 300;
    font-size: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 20rem;
    height: 3rem;
    border-radius: .5rem;
    border: 0;
    background-color: rgb(216, 216, 216);
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    padding: 5rem;
    box-shadow: 0 0 2.5rem black;
}

.successMessage {
    color: white;
    font-size: 3rem;
    background-color: rgb(96, 160, 96);
    padding: 2rem;
    width: 45rem;
    height: 7rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: 100;
}

.submitButton {
    margin-top: 1rem;
    width: 10rem;
    height: 3rem;
    border: 0;
    color: white;
    background-color: rgb(87, 129, 245);
    border-radius: .5rem;
}

.loaderContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dotLoader {
    width: 13.8rem;
    height: 7.2rem;
    --c:radial-gradient(farthest-side, currentColor 90%,#0000);
    background:var(--c), var(--c), var(--c), var(--c);
    background-size: 2.4rem 2.4rem;
    background-repeat: no-repeat;
    animation: dots 1s infinite linear; 
  }
  
  @keyframes dots {
    0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
    50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
    66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
    83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
    100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  }
  